* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  background-color: #f6f4e8;
    font-family: "Times New Roman", Times, serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    padding: 25;

}
.main__header {
  border: 5px solid black;
    margin: 3px;
    border-top: 3px 
    margin-top: 30px;
    text-align: center;
    color:

}



.card {
  
  border: 5px ridge black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #f6f4e8;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  align-items:center;
  margin: 20px;
  width: 800px;
  height: 300px;
  font-size: 25px;
  }

  .card__part {
    margin: 20px;
    padding:20px;
  }

  
  
  


.tag {
  display: flex;
  flex-direction: row;
  gap: 10px;

}
  

card__question
  #
  
  card__button
  #

  card__tags

  card__bookmark

width: 20px;
height: 60px;
border: 20px solid transparent ;
border-bottom: 10px solid #f6f4e8;
background-color: white;
position: relative;
left: 90%;
bottom:250px;


footer



.navbar {
  position: fixed;
  bottom: o;
  width: 100%;
  overflow: hidden;
  
}