* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.structure {
  margin: 30px;
  border: 5px ridge black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center
}

.structure__header {
  border: 5px solid black;
      margin: 3px;
      border-top: 3px 
      margin-top: 30px;
      text-align: center;
      color:
}

.structure__card {
  border: 5px ridge black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #f6f4e8;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  align-items:center;
  margin: 20px;
  width: 800px;
  height: 300px;
  font-size: 25px;
}

.structure__nav {
  border: 5px solid black;
  padding:20px;
  
 
      
   
      

}




